.header-site {
  padding-top: 73px;
  padding-bottom: 20px;
  margin-bottom: 109px;
}

.header-site__content {
  display: flex;
  align-items: center;
}

.header-site__logo-link {
  display: block;
  margin-right: 80px;
  flex-shrink: 0;
}

.header-site__logo-img {
  display: block;
  width: 160px;
}

.header-site__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

}

.header-site__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.header-site__item {
  margin-right: 40px;
}

.header-site__nav-link {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  transition: 0.3s;
  &:hover {
    color: $pushti;
  }
}

.header-site__link {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-left: auto;
  display: block;
  white-space: nowrap;
  padding: 10px 32px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  transition: 0.3s;
  &:hover {
    color: black;
    background-color: #fff;
  }
  &:active {
    opacity: 0.7;
  }

}

.header-site__toggler-btn {
  display: none;
}



@media only screen and (max-width: 768px) {

  .header-site__logo-link {
    margin-right: 48px;
  }

  .header-site__logo-img {
    width: 128px;
    height: 32px;
  }
}



@media only screen and (max-width: 550px) {
  .header-site__logo-link {
    margin-right: 20px;
  }

  .header-site__item {
    margin-right: 10px;
  }

  .header-site__link {
    font-size: 16px;
    line-height: 28px;
    padding: 5px 20px;
  }

}

@media only screen and (max-width: 430px) {
  body {
    padding-top: 200px;
    position: relative;
  }
  .header-site {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: $bgcolor;
  }

  .header-site__content {
    &::before {
      display: none;
      width: 100%;
      height: 100vh;
      content: "";
      background-color: #012F34;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.5;
      z-index: 3;
    }
  }

  .header-site__nav {
    display: none;
    position: absolute;
    width: 68%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #2C6269;
    padding: 56px 0 0 48px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 4;
    background-image: url("../img/about-disc.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: calc(50% + 128px) calc(50% + 140px);

  }

  .header-site__list {
    flex-direction: column;
    margin-right: auto;
    margin-top: 56px;
  }

  .header-site__item {
    margin-bottom: 24px;

    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  .header-site__content-open .header-site__nav {
    display: block;
  }


  .header-site__content-open::before {
    display: block;
  }

  .header-site__link {
    margin-top: 12px;
    margin-left: 0;
    display: inline-block;

    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease;

  }

  .header-site__toggler-btn {
    display: block;
    z-index: 5;
    margin-left: auto;
    width: 20px;
    height: 17px;
    border: 0;
    background-color: transparent;
    background-image: url("../img/gamburg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;

  }

  .header-site__content-open .header-site__toggler-btn {
    background-image: url("../img/close.svg");
  }

  @keyframes move {
    from {opacity: 0; transform: translate(100%);}
    40% {opacity: 0.2;}
    to {transform: translate(0%); opacity: 1;}

  }
}